/*
  Pragmatic JavaScript
  Chapter 3
  Programming Assignment

  Author:Nadia Gainer
  Date:5/5/24
  Filename:super hero
*/

/* Add your CSS styles here */

#hero1{
  border: 1px solid
}

#hero2{
  border: 1px solid
}

#hero3{
  border: 1px solid
}
