/*
  Pragmatic JavaScript
  Chapter 2
  Programming Assignment

  Author: Nadia Gainer
  Date:04/21/24
  Filename:resteraunt-reservation
*/

/* Add your CSS styles here */
body{
background-color: tan;
display: flex;
justify-content: center;
align-items: center;
}
